body{
    margin: 15px;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-decoration: none;
    line-height: normal;
    img{
        width: 100%;
        height: 100%;
    }
    a{
        text-decoration: none;
    }
}

.header{
    height: 100px;
   display: flex;
   flex-direction: row;
justify-items: space-between;
align-items: center;
justify-content: space-between;
}

.navigation{
    margin-right: 15px;
    gap: 10px;
    padding: 30px;

}

.maincontainer{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    align-items: space-between;
    margin-top: 20px;
    grid-template-areas: 
    "image image new"
    "bold paragraph new"
    "one two three";
    gap: 30px;
    
}

.image{
    grid-area: image;
    width: auto;
    height: auto;
}

.New{
    grid-area: new;
    background-color: black;
    color: white;
    padding: 10px;
}

.bold{
grid-area: bold;
}

.paragraph{
grid-area: paragraph;
button{
    color: white;
    width: 150px;
    border-radius: 6px;
    box-shadow: 1px 8px 0px -3px rgba(0,0,0,0.49);
    padding: 10px;
    border: none;
    cursor: pointer;}
}

.one{
grid-area: one;
display: flex;
line-height: normal;
align-items: center;
h1{
    margin: 0%;
}
h2{
    margin: 0%;}
    p{
        margin: 0%;
    }
}

.two{
grid-area: two;
display: flex;
line-height: normal;
align-items: center;
h1{
    margin: 0%;
}
h2{
    margin: 0%;}
    p{
        margin: 0%;
    }
}

.three{
grid-area: three;
display: flex;
align-items: center;
margin: 10px;
line-height: normal;
h1{
    margin: 0%;
}
h2{
    margin: 0%;}
    p{
        margin: 0%;
    }

}

@media only screen and (max-width: 600px){
    .maincontainer{
        grid-template-areas: 
        "1 / span 7"
        "2 / span 7"
        "3 / span 7"
        "4 / span 7"
        "5 / span 7"
        "6 / span 7"
        "7 / span 7";

    }

    .navigation{
        display: none;

    }
 .bold{
    grid-area: 2 / span 7;
 }

 .image{
    grid-area: 1 / span 7;
 }

 .paragraph{
    grid-area: 3 / span 7;
 }

 .New{
    grid-area: 4 / span 7;
 }

 .one{
    grid-area: 5 / span 7;
 }

 .two{
    grid-area: 6 / span 7;
 }

 .three{
    grid-area: 7 / span 7;
 }
}